@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    background: rgb(6, 6, 6);
    color: #C9D1D9;
    font-family: 'Manrope';
    margin: 0;
}